.c-sidenav {
    background-color: #212529;
    height: 100vh;
    padding: 0;
    text-align: center;
    max-width: 100px;
}

.c-sidenav-item {
    cursor: pointer;
}

.c-sidenav-head {
    height: 100px;
    background-color: #F2671F;
}
.c-sidenav-icon {
    width: 50%;
    margin-top: 15px;
}
